@import "tailwindcss";


html { 
  scroll-behavior: smooth;
    font-family: "Raleway", sans-serif;
}

body { 
  @apply bg-zinc-900 text-zinc-50 h-[200vh]
}


/* Typography */
.headline-1 { 
  @apply max-w-max;
  background: -webkit-linear-gradient(0deg, #fafafa, #66666a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headline-1 { 
  @apply text-5xl leading-tight font-semibold lg:text-[55px] lg:leading-[1.15]
}


/* Utilities */
.container { 
  @apply px-4 mx-auto lg:px-8 xl:max-w-6xl;
}

.img-box { 
  @apply bg-zinc-700 overflow-hidden;
}

.img-cover { 
  @apply w-full h-full object-cover;
}
/* Components */
.menu-btn { 
  @apply w-10 h-10 grid place-items-center bg-zinc-50/10 rounded-xl
  ring-inset ring-1 ring-zinc-50/[0.02] backdrop-blur-2xl hover:bg-zinc-50/15 cursor-pointer
  transition-[transform,background-color] active:scale-95;
}

.navbar { 
  @apply absolute top-full mt-2 right-0 min-w-40 p-2 bg-zinc-50/10 rounded-2xl ring-inset ring-1 ring-zinc-50/5
  scale-90 isolate blur-sm backdrop-opacity-50 invisible transition-[opacity,transform,filter] 
  md:static md:flex md:items-center md:mt-0 md:opacity-100 md:blur-md md:visible md:scale-100 
  backdrop-blur-2xl;
}

.navbar.active { 
  @apply opacity-100 scale-100 blur-[0] visible mr-6 mt-0;
}

.nav-link {
  @apply grid items-center h-9 px-4 text-sm font-medium tracking-wide
  text-zinc-50/50 hover:text-zinc-50 transition-colors text-center rounded-lg;
}


.nav-link.active {
  @apply text-zinc-900 bg-zinc-50 rounded-lg duration-500;
}

.navbar .active-box {
  @apply absolute bg-zinc-50 rounded-lg -z-10 transition-all ease-in-out duration-400;
}

.btn { 
    @apply max-w-max h-9 items-center gap-2 px-4 rounded-xl font-medium text-sm ring-1 ring-zinc-50/5
  ring-inset transition-[background-color]
}

.btn-secondary { 
  @apply bg-zinc-50 text-zinc-900 active:bg-zinc-50/80 md:flex
}

.section { 
  @apply pt-20 lg:pt-32
}